# Systemd 'unit' file.


#Steps to Apply the Service File
# Copy (or link) them to /usr/lib/systemd/system or etc/systemd/system
#sudo cp mko_birth_reminder_bot.service /etc/systemd/system/
# or
# sudo touch /etc/systemd/system/mko_birth_reminder_bot.service

# Make sure to update the WorkingDirectory, User, and Group fields
# with your actual project path and user/group names.
# sudo nano /etc/systemd/system/mko_birth_reminder_bot.service

#Reload the systemd daemon:
#sudo systemctl daemon-reload

#Enable the service to start at boot:
#sudo systemctl enable mko_birth_reminder_bot.service

#Start the service:
#sudo systemctl start mko_birth_reminder_bot.service

#Check the service status:
#sudo systemctl status mko_birth_reminder_bot.service

# stop / restart
# sudo systemctl stop mko_birth_reminder_bot
# sudo systemctl restart mko_birth_reminder_bot

[Unit]
Description=MKOBirthReminder Telegram Bot
After=network.target

[Service]
# Use the Python interpreter from your virtual environment to ensure the venv is used.
ExecStart=/home/myUser/venvs/myenv/bin/python3 -m mko_birth_reminder_bot.main run-bot
WorkingDirectory=/home/myUser/path/to/your/project
Restart=always
RestartSec=5s
User=youruser
Group=yourgroup
StandardOutput=append:/var/log/mko_birth_reminder_bot.log
StandardError=append:/var/log/mko_birth_reminder_bot.log

[Install]
WantedBy=multi-user.target
